<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrdLYH4g3JAXklKN8jQsF5ue_FBSBGttg</string>
	<key>GCM_SENDER_ID</key>
	<string>955589974348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TranslateApp.TranslateApp</string>
	<key>PROJECT_ID</key>
	<string>translateme-8c3af</string>
	<key>STORAGE_BUCKET</key>
	<string>translateme-8c3af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955589974348:ios:170c8c8e8dd668a56dd7e9</string>
</dict>
</plist>